:root {
    --hp-col-background-0 : #FFFFFF;
    --hp-col-background-1 : #132020;
    --hp-col-background-2 : #243131;
}

#bodygrid {
    position : absolute;
    left : 0;
    top  : 0;

    width  : 100%;
    height : 100%;

    display : grid;

    grid-template-rows    : 32pt 1fr;
    grid-tempalte-columns : 1fr;
}

#headbar {
    background-color : var(--hp-col-background-1);
    
    grid-row    : 1;
    grid-column : 1;
    
    box-shadow  : 0 -3pt 5pt 5pt #000000BB;
    z-index     : 1000;
}

#headlogo {
    height : calc(100% - 8pt);
    
    margin-top  : 4pt;
    margin-left : 18pt;

    transition-duration : 0.5s;
}

.headlogo-closed {
    margin-left : 4pt !important;
}

#headbutton {
    height : calc(100% - 8pt);
    width  : 240pt;

    margin-top  : 4pt;
    margin-left : 4pt;

    border-radius : 3pt;

    transition-duration : 0.5s;
}

.headbutton-closed {
    width : 24pt !important;
}

#headbutton:hover {
    background-color : #FFFFFF33;
}

#headbutton:active {
    background-color : #00000044;
}

#headarrow {
    height : calc(100% - 8pt);
}

#bodymenu {
    background-color : var(--hp-col-background-2);

    grid-row    : 2;
    grid-column : 1;

    position : absolute;
    left : 0;
    top  : 0;

    width  : 250pt;
    height : 100%;
    transition-duration : 0.5s;
}

.bodymenu-closed {
    left : -250pt !important;
}

.bodymenu-button {
    background-color : #00000000;
    border-width     : 0;
    color            : #DDDDDD;

    border-bottom-width : 0pt;
    border-bottom-color : #333333;
    border-bottom-style : solid;

    font-family      : arial, helvetica, sans-serif;
    font-weight      : bold;
    font-size        : 14pt;

    width  : 100%;
    height : 24pt;

    transition-duration : 0.125s;
}

.bodymenu-button:hover {
    background-color    : #EFEFFF22;
    border-bottom-width : 3pt
}

.bodymenu-button:active {
    background-color : #00000033;
}

#bodyzone {
    grid-row    : 2;
    grid-column : 1;

    border-width : 0;
    margin       : 0 0 0 0;
    
    z-index 100;
}
